**/node_modules

# Next.js
/.next/
/out/
next-env.d.ts

# Testing
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and OS
.DS_Store
.idea
.vscode

# TypeScript
*.tsbuildinfo

# Secrets and local env
.env
.env*.local
*.pem
